{% extends 'tottimeapp/base.html' %}
{% load static %}

{% block title %}Messages{% endblock %}

{% block styles %}
<style>
    body {
        font-family: Arial, sans-serif;
    }

    h3 {
        font-size: 24px;
        color: #495057;
        margin-top: 20px;
        margin-left: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    section {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

   
    .unread-count {
        color: red;
        font-weight: bold;
        margin-left: 10px;
    }
</style>
{% endblock %}

{% block content %}
<h1>Messages</h1>

<ul>
    {% for conversation in conversations %}
    <section>
        {% if conversation.sender == request.user %}
        <a href="{% url 'conversation' conversation.recipient.id %}">
            <img 
                src="{% if conversation.recipient.profile_picture %}{{ conversation.recipient.profile_picture.url }}{% else %}{% static 'profile_pictures/default_profile_picture.png' %}{% endif %}" 
                alt="Profile Picture" 
                style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; margin-left: 20px; margin-right: 15px;">
        </a>
        {{ conversation.recipient.first_name }} {{ conversation.recipient.last_name }}
        {% if conversation.unread_count|add:0 > 0 %}
            <span class="unread-count">({{ conversation.unread_count }} unread message{{ conversation.unread_count|pluralize }})</span>
        {% endif %}
        {% else %}
        <a href="{% url 'conversation' conversation.sender.id %}">
            <img 
                src="{% if conversation.sender.profile_picture %}{{ conversation.sender.profile_picture.url }}{% else %}{% static 'profile_pictures/default_profile_picture.png' %}{% endif %}" 
                alt="Profile Picture" 
                style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; margin-left: 20px; margin-right: 15px;">
        </a>
        {{ conversation.sender.first_name }} {{ conversation.sender.last_name }}
        {% if conversation.unread_count|add:0 > 0 %}
            <span class="unread-count">({{ conversation.unread_count }} unread message{{ conversation.unread_count|pluralize }})</span>
        {% endif %}
        {% endif %}
    </section>
    {% endfor %}
</ul>

<div class="start-conversation">
    <ul>
        {% for recipient in recipients %}
        {% if recipient.subuser and recipient.subuser.group_id.id in allowed_receiver_roles %}
        <li>
            <a href="{% url 'conversation' recipient.id %}" style="text-decoration: none; color: inherit;">
                <img 
                    src="{% if recipient.profile_picture %}{{ recipient.profile_picture.url }}{% else %}{% static 'profile_pictures/default_profile_picture.png' %}{% endif %}" 
                    alt="Profile Picture" 
                    style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; margin-left: 20px; margin-right: 15px;">
                {{ recipient.first_name }} {{ recipient.last_name }}
                {% if conversation.unread_count|add:0 > 0 %}
                    <span class="unread-count">({{ conversation.unread_count }} unread message{{ conversation.unread_count|pluralize }})</span>
                {% endif %}
            </a>
        </li>
        {% elif recipient.is_account_owner %}
        <li>
            <a href="{% url 'conversation' recipient.id %}" style="text-decoration: none; color: inherit;">
                <img 
                    src="{% if recipient.profile_picture %}{{ recipient.profile_picture.url }}{% else %}{% static 'profile_pictures/default_profile_picture.png' %}{% endif %}" 
                    alt="Profile Picture" 
                    style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; margin-left: 20px; margin-right: 15px;">
                {{ recipient.first_name }} {{ recipient.last_name }}
                {% if conversation.unread_count|add:0 > 0 %}
                    <span class="unread-count">({{ conversation.unread_count }} unread message{{ conversation.unread_count|pluralize }})</span>
                {% endif %}
            </a>
        </li>
        {% endif %}
        {% empty %}
        {% endfor %}
    </ul>
</div>

<div id="chat-popup-container" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000; max-width: 300px;"></div>
{% endblock %}