{% extends 'tottimeapp/base.html' %}
{% load static %}

{% block title %}Accept Invitation{% endblock %}

{% block content %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <h1>Accept Invitation</h1>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    You have been invited to join as a: {{ invitation.role.name }}. Please register to proceed.
                                </h3>
                            </div>
                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-floating mb-3 text-center">
                                        <input class="form-control" id="inputFirstName" type="text" name="first_name" placeholder="First Name" required>
                                        <label for="inputFirstName">First Name</label>
                                    </div>
                                    <div class="form-floating mb-3 text-center">
                                        <input class="form-control" id="inputLastName" type="text" name="last_name" placeholder="Last Name" required>
                                        <label for="inputLastName">Last Name</label>
                                    </div>
                                    <div class="form-floating mb-3 text-center">
                                        <input class="form-control" id="inputEmail" type="email" name="email" placeholder="name@example.com" value="{{ invitation.email }}" readonly>
                                        <label for="inputEmail">Email address</label>
                                    </div>
                                    <div class="form-floating mb-3 text-center">
                                        <input class="form-control" id="inputUsername" type="text" name="username" placeholder="Username" required>
                                        <label for="inputUsername">Username</label>
                                    </div>
                                    <div class="row mb-3 text-center">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="inputPassword" type="password" name="password1" placeholder="Password" required>
                                                <label for="inputPassword">Password</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="inputPasswordConfirm" type="password" name="password2" placeholder="Confirm Password" required>
                                                <label for="inputPasswordConfirm">Confirm Password</label>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Create Account</button>
                                    <a href="{% url 'login' %}">Already have an account? Go to login</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Data 2024</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}
