{% extends 'tottimeapp/base.html' %}
{% load static %}

{% block title %}Account Settings{% endblock %}

{% block styles %}
<style>
h1 {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 400;
    line-height: 1.2;
    font-weight: bold;
    font-size: 40px;
}
</style>
{% endblock %}

{% block content %}

            <h1>Account</h1>

        <!-- Profile Picture Section -->
        <div class="row mb-3">
            <div class="col-md-6" style="margin-left: 25px;">
                <label for="profilePictureInput" class="form-label">Profile Picture</label>
                <input 
                    type="file" 
                    class="form-control" 
                    id="profilePictureInput" 
                    name="profile_picture" 
                    accept="image/*">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail mt-2" style="width: 150px; height: 150px;">
                {% else %}
                <img src="{% static 'profile_pictures/Default_pfp.jpg' %}" alt="Profile Picture" class="img-thumbnail mt-2" style="width: 150px; height: 150px;">
                {% endif %}
            </div>
        </div>

{% endblock %}

{% block scripts %}

{% endblock %}