{% extends 'tottimeapp/base.html' %}
{% load static %} 

{% block title %}No Access{% endblock %}

{% block styles %}
    <style>
   
    </style>
{% endblock %}

{% block content %}
                <h1 class="mt-4">This page is not accessible on mobile devices at this time.</h1>
                  
                                    <p class="lead"></p>
                                    <a href="{% url 'index' %}">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        Return to Dashboard
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}