{% extends 'tottimeapp/base.html' %}
{% load static %} 
{% block title %}Clock-In/Out{% endblock %}

{% block styles %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    #numberPad {
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
    }

    #codeDisplay {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        text-align: center;
    }

    button {
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 555;
        margin: 5px;
        border: none;
        background-color: #272630;
        color: #ffffff;
        cursor: pointer;
        border-radius: 5px;
    }

    button.yellow {
        background-color: #272630; /* Yellow Color */
        color: #ffffff;
    }

    button:hover {
        background-color: #36c8ad; /* Darker blue for hover effect */
        color: #272630;
    }

    button.yellow:hover {
        background-color: #f4e042;
        color: #272630;
    }

    button.clear {
        background-color: #f4e042; /* Yellow Color */
        color: #272630;
    }

    button.submit {
        background-color: #36c8ad; /* Yellow Color */
        color: #272630;
    }

    button.clear:hover {
        background-color: #c0b13c;
    }

    button.submit:hover {
        background-color: #289783; /* Darker blue for hover effect */
        color: #272630;
    }

    button:active {
        background-color: #32b69e; /* Even darker blue when clicked */
    }
</style>
{% endblock %}

{% block content %}
<h1>Clock-In/Out</h1>
<div id="numberPad">
    {% csrf_token %}
    <input type="text" id="codeDisplay" readonly>
    <br>
    <!-- Number pad buttons -->
    <button onclick="addDigit(1)">1</button>
    <button class="yellow" onclick="addDigit(2)">2</button>
    <button onclick="addDigit(3)">3</button>
    <br>
    <button class="yellow" onclick="addDigit(4)">4</button>
    <button onclick="addDigit(5)">5</button>
    <button class="yellow" onclick="addDigit(6)">6</button>
    <br>
    <button onclick="addDigit(7)">7</button>
    <button class="yellow" onclick="addDigit(8)">8</button>
    <button onclick="addDigit(9)">9</button>
    <br>
    <button onclick="addDigit(0)">0</button>
    <br>
    <button class="clear" onclick="clearCode()">Clear</button>
    <button class="submit" onclick="submitCode()">Submit</button>
</div>
{% endblock %}
{% block scripts %}
<script>
    let code = '';
    
    function addDigit(digit) {
        code += digit;
        updateDisplay();
    }

    function clearCode() {
        code = '';
        updateDisplay();
    }

    function submitCode() {
        const csrftoken = getCookie('csrftoken');
        const codeEntered = code;

        // Make an AJAX request to the server
        const xhr = new XMLHttpRequest();
        const url = '/process_teacher_code/';
        const data = JSON.stringify({ code: codeEntered });

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    const response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        toastr.success(response.message, 'Success', {
                            timeOut: 3000,
                            closeButton: true,
                            progressBar: true
                        });
                    } else {
                        toastr.error("Error: " + response.message, 'Error', {
                            timeOut: 5000,
                            closeButton: true,
                            progressBar: true
                        });
                    }
                } else {
                    toastr.error("Error: Unable to process request", 'Error', {
                        timeOut: 5000,
                        closeButton: true,
                        progressBar: true
                    });
                }
                clearCode();
            }
        };

        xhr.open("POST", url);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.setRequestHeader('X-CSRFToken', csrftoken);
        xhr.send(data);
    }

    function updateDisplay() {
        document.getElementById("codeDisplay").value = code;
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}