{% extends 'tottimeapp/base.html' %}
{% load static %} 
{% load custom_filters %}
{% load dict_extras %}
{% block title %}Daily Attendance{% endblock %}

{% block styles %}
<style>
  
</style>
{% endblock %}

{% block content %}
                <div class="mt-4">
                    <h1>Daily Attendance</h1>
                </div>
                <a href="{% url 'attendance_record' %}" class="btn btn-secondary" style="margin-left: 15px;">
                    Attendance Records
                </a>

         
{% endblock %}
{% block scripts %}

{% endblock %}