{% extends 'tottimeapp/base.html' %}
{% load static %} 
{% load custom_filters %}
{% load dict_extras %}
{% block title %}Edit Teacher{% endblock %}

{% block styles %}
<style>

.btn-primary {
    margin-top:25px;
}
.modal-body {
    max-height: 55vh !important;
    overflow-y: auto !important;
}
</style>
{% endblock %}

{% block content %}
<h1>Edit Classroom Information</h1>
<div class="container-fluid px-4">
    
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}

        <!-- Hidden input to pass the previous page URL -->
        <input type="hidden" name="previous_page" value="{{ previous_page }}">

        <!-- Classroom Name -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="name" class="form-label">Classroom Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ classroom.name }}" required>
            </div>
        </div>

        <!-- Ratios -->
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="ratios" class="form-label">Ratios</label>
                <input type="number" class="form-control" id="ratios" name="ratios" value="{{ classroom.ratios }}" min="1" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="color" class="form-label">Classroom Color</label>
                <input type="color" class="form-control form-control-color" id="color" name="color" value="{{ classroom.color }}" title="Choose classroom color">
            </div>
        </div>
        <!-- Submit and Cancel Buttons -->
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{{ previous_page }}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
