{% extends 'tottimeapp/base.html' %}
{% load static %} 
{% load custom_filters %}
{% load dict_extras %}
{% block title %}Meal Count{% endblock %}

{% block styles %}
<style>
     
    
        h2 {
            margin-left: 27px;
            font-weight: bold;
        }
    

        table {
           
            border-collapse: collapse;
            margin-top: 20px;
            margin-left: 27px;
            margin-right: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px; /* Add this for rounded corners */
            overflow: hidden;
        }

        th, td {
            width: 100px; 
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: center;
        }
    
        th {
            background-color: #272630;
            color: #ffffff;
            text-align: center;
            font-weight: bold;
        }
  

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    
        tr:hover {
            background-color: #ddd;
        }
    
        .form-select {
            margin-left: 27px;
            width: 130px;
        }
    
        .btn-primary {
            margin-top: 0; /* Ensure no extra spacing */
            width: 80px; /* Optional for better alignment */
            font-weight: bold;
        }
    
        .form-label {
            margin-left: 27px;
        }
    
        .btn-primary {
            margin-top: 32px;
            max-height: 35px;
            margin-left: 5px;
            background-color: rgb(57, 189, 180);
            border-color: rgb(57, 189, 180);
            color: rgb(33, 31, 39);
        }
    
        .btn-primary:hover {
            background-color: #007b8a;
            border-color: #007b8a;
        }
        @media screen and (max-width: 768px) {
        table {
            margin-left: auto;
            margin-right: auto;
        }

        th, td {
            width: 100px; /* Allow columns to auto-size */
        }
    }
  
</style>
{% endblock %}

{% block content %}
<h1 class="mb-4">Meal Count</h1>
                <div class="container mt-4">     
                    <form method="GET" action="">
                        <div class="row mb-3 form-section">
                            <div class="col-auto">
                                <label for="month-filter" class="form-label">Select Month:</label>
                                <select class="form-select" id="month-filter" name="month">
                                    {% for month in months %}
                                        <option value="{{ month.month }}" {% if month.month|stringformat:"i" == selected_month %} selected {% endif %}>
                                            {{ month|date:"F" }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-auto">
                                <label for="year-filter" class="form-label">Select Year:</label>
                                <select class="form-select" id="year-filter" name="year">
                                    {% for year in years %}
                                        <option value="{{ year.year }}" {% if year.year|stringformat:"Y" == selected_year %} selected {% endif %}>
                                            {{ year|date:"Y" }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-auto" style="margin-left: 15px;">
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </div>
                        </div>
                    </form>
            
                    <h2 class="mt-4">Meal Count for {{ selected_month }}-{{ selected_year }}:</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Day</th>
                                <th>AM</th>
                                <th>Lunch</th>
                                <th>PM</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total</td>
                                <td>{{ am_count }}</td>
                                <td>{{ lunch_count }}</td>
                                <td>{{ pm_count }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
{% endblock %}