{% extends 'tottimeapp/base.html' %}
{% load static %} 
{% load custom_filters %}
{% load dict_extras %}
{% block title %}No Access{% endblock %}

{% block styles %}
<style>
        h1 {
    margin-top: 20px;
    margin-left: 27px;
    font-weight: 400;
    line-height: 1.2;
    font-weight: bold;
    font-size: 40px;
}
body {
            font-family: Arial, sans-serif;
        }
        .sb-nav-link-icon i {
    color: rgb(57, 189, 180);
    font-size: 1.2rem; /* Icon size */
    vertical-align: middle; /* Adjust vertical alignment */
    line-height: 1; /* Prevent icon from being too high */
    
}
</style>
{% endblock %}

{% block content %}
                <h1 class="mt-4">You do not have access to this page.</h1>
                  
                                   <p class="lead">If you believe this is an error, please contact your administrator.</p>
                                    <a href="{% url 'index' %}" class="btn btn-primary mt-3">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        Return to Dashboard
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
                    