{% extends 'tottimeapp/base.html' %}
{% load static %} 
{% load custom_filters %}
{% load dict_extras %}
{% block title %}No Access{% endblock %}

{% block styles %}
<style>
        h1 {
    margin-top: 20px;
    margin-left: 27px;
    font-weight: 400;
    line-height: 1.2;
    font-weight: bold;
    font-size: 40px;
}
body {
            font-family: Arial, sans-serif;
        }
        .sb-nav-link-icon i {
    color: rgb(57, 189, 180);
    font-size: 1.2rem; /* Icon size */
    vertical-align: middle; /* Adjust vertical alignment */
    line-height: 1; /* Prevent icon from being too high */
    
}
/* Style for the link text */
.nav-link {
    color: #ffffff !important; /* Ensure text is completely white */
}

/* Style for the arrow after the link */
.sb-sidenav-collapse-arrow i {
    color: rgb(228, 218, 79);
}

/* Optional: Hover effect for nav links */
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Slight background change on hover */
    color: #ffffff !important; /* Retain white text on hover */
}
.navbar-brand img {
    width: 100%; /* Ensure the logo takes up the full width of its container */
    max-width: 200px; /* Set a max-width to control the size of the logo */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Make sure the logo doesn't get distorted */
    margin-left: 0; /* Reset any left margin if needed */
    border-radius: 0; /* Remove any border-radius if it's causing a vignette effect */
    overflow: visible; /* Ensure no clipping occurs */
}

</style>
{% endblock %}

{% block content %}
                <h1 class="mt-4">You do not have access to this page.</h1>
                  
                                    <p class="lead"></p>
                                    <a href="{% url 'index' %}">
                                        <i class="fas fa-arrow-left me-1"></i>
                                        Return to Dashboard
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
                    