{% extends "tottimeapp/base_minimal.html" %}
{% block content %}
<div class="container login-container">
    <form method="POST" class="login-form">
        <div class="login-title">Reset Password</div>
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger custom-alert">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-floating mb-3">
            <input class="form-control w-100" id="id_email" type="email" name="email" placeholder="Email" value="{{ form.email.value|default_if_none:'' }}">
            <label for="id_email">Email</label>
            {% if form.email.errors %}
                <div class="alert alert-danger custom-alert">
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block">Send Password Reset Email</button>
        </div>
    </form>
</div>
{% endblock %}