{% extends 'tottimeapp/base.html' %}
{% load static %} 
{% load custom_filters %}
{% load dict_extras %}
{% block title %}Rosters{% endblock %}

{% block styles %}
<style>

body {
            font-family: Arial, sans-serif;
        }

table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Add this for rounded corners */
    overflow: hidden; /* Ensure the rounded corners are visible */
        }
table thead th {
    color: #ffffff !important;
    background-color: #272630 !important;
}
.btn-apply-filter {
        background-color: #32b69e; /* Set the background color */
        color: #272630; /* Set the text color */
        border: none; /* Remove the border */
      
        font-size: 18px; /* Set a font size */
        font-weight: bold; /* Make the text bold */
        border-radius: 5px; /* Rounded corners */
    }

    .btn-apply-filter:hover {
        background-color: #28a09a; /* Darken the button on hover */
        cursor: pointer; /* Show pointer cursor on hover */
    }

</style>
{% endblock %}

{% block content %}
<h1 class="mb-4">Rosters</h1>
                <div class="container mt-4">
                    <form method="GET" action="">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="month-filter" class="form-label">Select Month:</label>
                                <select class="form-select" id="month-filter" name="month">
                                    {% for month in months %}
                                        <option value="{{ month.month }}" {% if month.month == selected_month %} selected {% endif %}>{{ month.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="year-filter" class="form-label">Select Year:</label>
                                <select class="form-select" id="year-filter" name="year">
                                    {% for year in years %}
                                        <option value="{{ year }}" {% if year == selected_year %} selected {% endif %}>{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="classroom-filter" class="form-label">Filter by Classroom:</label>
                                <select class="form-select" id="classroom-filter" name="classroom">
                                    <option value="" {% if not selected_classroom %} selected {% endif %}>All</option>
                                    {% for classroom in classrooms %}
                                        <option value="{{ classroom.id }}" {% if classroom.id == selected_classroom %} selected {% endif %}>{{ classroom.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-apply-filter">Filter</button>
                        </div>
                    </form>
                    <div class="table-responsive mt-4">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Student Name</th>
                                    {% for day in num_days %}
                                        <th>{{ day }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for student, attendance_list in student_attendance.items %}
                                    <tr>
                                        <td>{{ student }}</td>
                                        {% for attendance in attendance_list %}
                                            <td>{{ attendance|default:"" }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
{% endblock %}
 