{% extends 'tottimeapp/base.html' %}
{% load static %}
{% load custom_filters %}
{% load dict_extras %}

{% block title %}Square Integration{% endblock %}

{% block styles %}
<style>
    h1 {
        margin-top: 20px;
        margin-left: 10px;
        font-weight: 400;
        line-height: 1.2;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        margin-top: 120px;
        margin-left: 50px;
        font-weight: bold;
    }
    .btn-primary {
        font-weight: bold;
        max-height: 45px;
        margin-top: 5px;
        margin-left: 50px;
        background-color: rgb(57, 189, 180);
        border-color: rgb(57, 189, 180);
        color: rgb(33, 31, 39);
    }
    .btn-primary:hover {
        background-color: #007b8a;
        border-color: #007b8a;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Square Integration</h1>
    {% if square_connected %}
        <p>Your Square account is connected!</p>
    {% else %}
        <p>You haven't connected your Square account yet.</p>
        <a href="{{ square_login_url }}" class="btn btn-primary">Connect with Square</a>
    {% endif %}
</div>
{% endblock %}
</html>