{% extends 'tottimeapp/base.html' %}
{% load static %} 
{% load custom_filters %}
{% load dict_extras %}
{% block title %}Time Sheet{% endblock %}

{% block styles %}
<style>

form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
form label {
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

form input[type="date"] {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    width: auto;
    margin-right: 10px;
}

form button {
    background-color: rgb(57, 189, 180); /* Change success button color */
    border-color: rgb(57, 189, 180);
    color:rgb(33, 31, 39);
    padding: 4px 11px; /* Adjusted padding for smaller height */
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px; /* Added margin to the left */
}

form button:hover {
    background-color: #007b8a;
    border-color: #007b8a;
    color: #fff;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    table-layout: auto; 
    width: auto;
    border-radius: 10px; /* Add this for rounded corners */
    overflow: hidden; 
}

.styled-table thead tr {
    background-color: #272630;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
    white-space: nowrap; /* Prevent wrapping of text */
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}



.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.styled-table td[colspan="3"] {
    text-align: center;
    color: #999999;
    font-style: italic;
}
.large-font p {
    font-size: 1.5em; /* Adjust as needed */
}
 /* Styling for select dropdown to match date input */
 form select {
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 14px;
        width: auto; /* Adjusted width for consistency */
        margin-right: 10px;
    }

    form select:focus {
        outline: none;
        border-color: #272630; /* Optional: Highlight the border on focus */
    }
main {
    padding-left: 20px; /* Push content inside the main area away from the sidebar */
}
</style>
{% endblock %}

{% block content %}
<h1>Employee Time Sheet</h1>
                <div class="mt-4">
                    <form method="get" class="mb-4">
                        <label for="start_date">Start Date:</label>
                        <input type="date" id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d' }}">

                        <label for="end_date">End Date:</label>
                        <input type="date" id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}">
            
                        <label for="employee">Select Employee:</label>
                        <select id="employee" name="employee">
                            <option value="">All Employees</option>
                            {% for employee in employees %}
                                <option value="{{ employee.id }}" {% if request.GET.employee == employee.id|stringformat:'s' %}selected{% endif %}>
                                    {{ employee.first_name }} {{ employee.last_name }}
                                </option>
                            {% endfor %}
                        </select>
            
                        <button type="submit">Filter</button>
                    </form>
            
                    <div class="date-range-summary mb-4 large-font">
                        <p>
                            <strong>Pay Period:</strong> 
                            <span>{{ start_date|date:"M j, Y" }}</span> 
                            to <span>{{ end_date|date:"M j, Y" }}</span>
                        </p>
                    </div>
            
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Total Hours</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in records %}
                            <tr>
                                <td>
                                    <a href="{% url 'employee_detail' %}?employee={{ record.user__id }}">
                                        {{ record.user__first_name }} {{ record.user__last_name }}
                                    </a>
                                </td>
                                <td>{{ record.total_hours }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="2">No records available for the selected date range.</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
{% endblock %}
{% block scripts %}
<script>
       window.onload = function() {
        var startDateInput = document.getElementById('start_date');
        var endDateInput = document.getElementById('end_date');
        
        // Fetch values passed from Django template and set to date fields
        var startDate = "{{ start_date|date:'Y-m-d' }}";
        var endDate = "{{ end_date|date:'Y-m-d' }}";
        
        // Prepopulate the date inputs if the values are available
        if (startDate) {
            startDateInput.value = startDate;
        }
        
        if (endDate) {
            endDateInput.value = endDate;
        }
    }
</script>
{% endblock %}